@font-face {
  font-family: "RedHatText";
  src: url("../public/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("../public/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("../public/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Example Usage */
body {
  font-family: "RedHatText", sans-serif;
}
