* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Red Hat Text;
}

:root {
  /* Primary Colors */
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  /* Rose Shades */
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
}

.container {
  margin-inline: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}
.desserts {
  margin-right: 0;
}

@media (min-width: 1168px) {
  .container {
    grid-template-columns: 70% 30%;
  }
  .desserts {
    margin-right: 40px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 930px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h2,
h3 {
  color: var(--color-rose-900);
}

body {
  background-color: var(--color-rose-50);
}

.deserts_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

@media (max-width: 650px) {
  .deserts_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .deserts_container {
    grid-template-columns: 1fr;
  }
}

.heading-title {
  font-size: 35px;
  color: var(--color-rose-900);
  margin-bottom: 25px;
}

.heading-title-v2 {
  font-size: 27px;
  color: var(--color-red);
  margin-bottom: 25px;
}

.deserts_container .desert {
  position: relative;
  z-index: 1;
}

.deserts_container .svg-container:hover img {
  filter: invert(45%) sepia(19%) saturate(1390%) hue-rotate(328deg)
    brightness(93%) contrast(88%);
}
.deserts_container .svg-container:hover {
  background-color: #fff;
}

.deserts_container .desert-box img {
  width: 100%;
  border-radius: 12px;
}

.desert-box .btn-empty svg {
  color: var(--color-red);
  margin-right: 6px;
}

.desert-box .btn-empty:hover {
  border-color: var(--color-red);
  color: var(--color-red);
}

.desert-box .desert_description .description_category {
  color: var(--color-rose-500);
}

.desert-box .desert_description .description_price {
  color: var(--color-red);
  font-weight: 600;
}

.desert-box .desert_description .description_name {
  font-size: 16px;
  font-weight: 600;
  margin-block: 5px;
}

.cart .cart_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  margin: 40px auto;
}

.cart-empty img {
  display: block;
  margin: 20px auto;
}

.cart .cart_description_empty {
  text-align: center;
  color: var(--color-rose-400);
  font-weight: 600;
}

.cart {
}

@media (min-width: 1168px) {
  .cart .cart_container {
    margin: 0;
  }
}

.desert-box .btn-empty,
.desert-box .btn-not-empty {
  display: flex;
  align-items: center;
  border-radius: 50vh;
  margin: -25px auto 20px;
  z-index: 3;
  position: relative;
  font-weight: 600;
  transition: 0.3s;
}

.desert-box .btn-empty {
  gap: 5px;
  background-color: #fff;
  border: 1px solid var(--color-rose-300);
  color: var(--color-rose-900);
  cursor: pointer;
  padding: 10px 30px;
}

.desert-box .btn-not-empty {
  background-color: var(--color-red);
  color: #fff;
  justify-content: space-between;
  padding: 10px 15px;
  width: 175px;
}

button.btn-empty > img.add-to-cart {
  width: 20px;
}

img.selected {
  border: 4px solid var(--color-red);
}

.svg-container {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

.svg-container img {
  width: 10px;
}

.cart_items {
  list-style: none;
}

.cart_items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.cart_items li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-rose-100);
  margin-bottom: 10px;
}

.cart_items li .left p {
  display: flex;
  gap: 10px;
}

.cart_items li .left p > span:first-of-type {
  color: var(--color-red);
  font-weight: bold;
}
.cart_items li .left p > span:nth-of-type(2) {
  color: var(--color-rose-400);
}
.cart_items li .left p > span:nth-of-type(3) {
  color: var(--color-rose-500);
}

.cart_items .svg-container {
  border-color: var(--color-rose-400);
}

.product_title {
  font-weight: 600;
  color: var(--color-rose-900);
}

.cart_items .right .svg-container:hover {
  border-color: var(--color-rose-900);
}

.cart_items .right .svg-container:hover img {
  filter: brightness(30%) contrast(120%);
}

.cart_total,
.modal_total {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.cart_total .right,
.modal_total .right {
  font-size: 25px;
}

.cart_message {
  background-color: var(--color-rose-50);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  border-radius: 7px;
  margin-top: 20px;
}

.cart_message span {
  font-weight: 600;
}

.cart_confirm_btn,
.modal_reset_btn {
  border-radius: 50vh;
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--color-red);
}

.cart_confirm_btn:hover,
.modal_reset_btn:hover {
  filter: brightness(85%);
}

.overlay {
  background-color: #00000091;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.modal {
  width: 95%;
  max-width: 450px;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
}

.modal_items li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.modal_items li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-rose-100);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.modal_items li .left p {
  display: flex;
  gap: 10px;
}

.modal_items li .left p > span:first-of-type {
  color: var(--color-red);
  font-weight: bold;
}
.modal_items li .left p > span:nth-of-type(2) {
  color: var(--color-rose-400);
}
.modal_items li .right > span:nth-of-type(2) {
  color: var(--color-rose-900);
}

.modal .heading-title {
  margin-bottom: 5px;
}

.modal_desc {
  color: var(--color-rose-500);
  margin-bottom: 20px;
}

.modal_items {
  background-color: var(--color-rose-50);
  padding: 10px 20px;
}

.modal_items:not(:last-of-type) {
  border-bottom: 1px solid var(--color-rose-50);
}

.modal_items li .left {
  display: flex;
  gap: 10px;
}

.modal_items img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.modal_total {
  border-top: 1px solid var(--color-rose-100);
  padding-top: 10px;
}

.modal_reset_btn {
  margin-top: 40px;
}
